{% extends 'base_user.html' %}
{% load static %}
{% block title %}
  Profile
{% endblock %}

{% block content %}

<style>
  
  .heading {
    font-family: Raleway;
    font-size: 10vh;
    color: white;
    padding-top: 25vh;
    margin-left: 4vw;
  }
    table {
      font-family: Raleway;
      border-collapse: collapse;
      width: 80vw;
      margin-top: 10vh;
      margin-bottom: 12vh;
      color:  white;
      margin-left:10vw;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      
    }

    @media only screen and (max-width: 600px){
      .heading {
        font-size: 40px;
      }
    }

    @media only screen and (max-width: 450px){
      .heading {
        font-size: 30px;
        padding-top: 18vh;
      }
    }

    </style>


<body>

<div class = "heading">Attendance Records</div>

<table>
  <tr>
    <th>S. No.</th>
    <th>Couse Name</th>
    <th>Your Attendance</th>
    <th>Total Classes</th>
    <th>Attendance %</th>
  </tr>
  {% for i in info %}
  <tr>
    <td>{{i.Sno}}</td>
    <td>{{i.0}}</td>
    <td>{{i.1}}</td>
    <td>{{i.2}}</td>
    <td>{{i.3}}</td>
  </tr>
  {% endfor %}
  
</table>

</body>

{% endblock %}