{% extends 'base_user.html' %}
{% load static %}
{% block title %}
  Profile
{% endblock %}

{% block content %}
  <style>
    .heading {
      font-family: Raleway;
      font-size: 10vh;
      color: white;
      padding-top: 25vh;
      margin-left: 4vw;
    }
    
    .main {
      color: white;
      font-family: Raleway;
      margin-left: 4vw;
      margin-top: 8vh;
      margin-bottom: 24vh;
    }
    
    .point {
      margin-top: 4vh;
      margin-bottom: 4vh;
    }
    
    .button {
      background-color: orange;
      padding: 2vh;
      border-radius: 5vh;
      border: solid white;
      cursor: pointer;
    }

    @media only screen and (max-width: 600px){
      .heading {
        font-size: 40px;
      }
    }

    @media only screen and (max-width: 450px){
      .heading {
        font-size: 30px;
        padding-top: 18vh;
      }
    }
  </style>

  <body>
    <div class="heading">Ongoing Classes</div>
    <form action="{% url 'video' %}" method="post">
      {% csrf_token %}
      <ul class="main">
        {% for course in sesh %}
        {%if course.course.code in crs%}
          <li class="point">
            {{ course.course.name }}          
            <button class="button" type="submit" name="course" value="{{ course }}">Mark Attendance</button>
          </li>
        {%endif%}
        {% empty %}
          <li class="point">No Ongoing Classes to Check Into</li>
        {% endfor %}
      </ul>
    </form>
  </body>
{% endblock %}
